*
{
    margin: 0;
    padding: 0;
}
/*---Preloader---*/
.contenedor
{
    display: flex;
    min-height: 100vh;
    background: #000;
    z-index: 10000000;
}
.content{
	width: 100%;
	height: 100vh;
	background: #000;
	display: flex;
	transition: all 1s;
	position: fixed;
	left: 0;
    top: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    z-index: 10000000;
}
svg
{
    position: absolute;
    width: 400px;
    fill: none;
}
svg:nth-child(2)
{
    filter: blur(40px);
}
svg path
{
    d: path("M0,25 C150,110 150,-60 300,25");
    stroke: #ff0092;
    stroke-width:50;
    stroke-linecap: round;
    transform: translate(50px,50%);
    animation: animate 2s ease-in-out infinite;
}
@keyframes animate
{
    0%
    {
        stroke: #ff0092;
        d: path("M0,25 C150,110 150,-60 300,25");   
    }
    50%
    {
        stroke: #00ff00;
        d: path("M0,25 C150,-50 140,110 300,25");
    }
}
/*---Banner---*/
.banner{
    z-index: 9;
}
.banner:before{
    content:'';
    position: absolute;
    margin-top: -60px;
    width: 100%;
    height: 657px;
    background: rgba(0,0,0,0.6);
    top: 55px;
    z-index: 9;
}
.banner__img{
    width: 100%;
    height: 657px;
    object-fit: cover;
    background-size: 100% 100%;
    z-index: 9;
}
.bg-5{
    margin-top: -500px;
    position: absolute;
    z-index: 10;
 }

.animated-shadow {
  color: #ffffff;
  font: normal 140px Varela Round, sans-serif;
  height: 140px;
  left: 0;
  letter-spacing: 5px;
  text-align: center;
  width: 100%;
  animation: move linear 2000ms infinite;
  z-index: 10;
  font-size: 150;
  margin-left: 103px;
}
/*Animación para rotar las sombras*/
@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 #da0641,
      3px -3px 0 #da0641,
      2px -2px 0 #da0641,
      1px -1px 0 #da0641,
      -4px 4px 0 #13f1fc,
      -3px 3px 0 #13f1fc,
      -2px 2px 0 #13f1fc,
      -1px 1px 0 #13f1fc
    ;
  }
  25% {
    text-shadow:
      -4px -4px 0 #13f1fc,
      -3px -3px 0 #13f1fc,
      -2px -2px 0 #13f1fc,
      -1px -1px 0 #13f1fc,
      4px 4px 0 #da0641,
      3px 3px 0 #da0641,
      2px 2px 0 #da0641,
      1px 1px 0 #da0641
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 #da0641,
      -3px 3px 0 #da0641,
      -2px 2px 0 #da0641,
      -1px 1px 0 #da0641,
      4px -4px 0 #13f1fc,
      3px -3px 0 #13f1fc,
      2px -2px 0 #13f1fc,
      1px -1px 0 #13f1fc
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 #13f1fc,
      3px 3px 0 #13f1fc,
      2px 2px 0 #13f1fc,
      1px 1px 0 #13f1fc,
      -4px -4px 0 #da0641,
      -3px -3px 0 #da0641,
      -2px -2px 0 #da0641,
      -1px -1px 0 #da0641
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 #da0641,
      3px -3px 0 #da0641,
      2px -2px 0 #da0641,
      1px -1px 0 #da0641,
      -4px 4px 0 #13f1fc,
      -3px 3px 0 #13f1fc,
      -2px 2px 0 #13f1fc,
      -1px 1px 0 #13f1fc
    ;
  }
}
.frase h3{
    color: white;
    position: absolute;/*Esto hace que la letra no quede escondida*/
    margin-top: -290px;
    font-size: 30;
    font-weight: bold;
    font-family: Arial;
    z-index: 9;
    margin-left: 320px;
    background: rgba(255, 225, 225, 0.05);
    background-color: #355C5E;
}
.frase p{
    color: white;
    position: absolute;/*Esto hace que la letra no quede escondida*/
    margin-top: -250px;
    font-size: 30;
    font-weight: bold;
    font-family: Arial;
    z-index: 9;
    margin-left: 890px;
    background: rgba(255, 255, 225, 0.05);
    background-color: #355C5E;
}
/*----Botones----*/
.container
{
    width: 1000px;/*Este es el tamaño del container donde estan los botones*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 100;
    margin-top: -130px;
    margin-left: 180px;
}
.container .btn
{
    position: relative;
    width: 180px;
    height: 50px;
    margin: 20px;
    z-index: 10;
}
.container .btn a
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 225, 0.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    color: #fff;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
    font-family: Arial;
    font-size: 13;
}
.container .btn:hover a
{
    letter-spacing: 3px;
}
.container .btn a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,225,0.15), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}
.container .btn:hover a::before
{
    transform: skewX(45deg) translateX(200%);
}
.container .btn::before
{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}
.container .btn:hover::before
{
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}
.container .btn::after
{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}
.container .btn:hover::after
{
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}
.container .btn:nth-child(1)::before,
.container .btn:nth-child(1)::after
{
    background: #ff1f71;
    box-shadow: 0 0 5px #ff1f71,
    0 0 15px #ff1f71,
    0 0 30px #ff1f71,
    0 0 60px #ff1f71;
}
.container .btn:nth-child(2)::before,
.container .btn:nth-child(2)::after
{
    background: #2bd2ff;
    box-shadow: 0 0 5px #2bd2ff,
    0 0 15px #2bd2ff,
    0 0 30px #2bd2ff,
    0 0 60px #2bd2ff;
    
}
.container .btn:nth-child(3)::before,
.container .btn:nth-child(3)::after
{
    background: #1eff45;
    box-shadow: 0 0 5px #1eff45,
    0 0 15px #1eff45,
    0 0 30px #1eff45,
    0 0 60px #1eff45; 
}
.container .btn:nth-child(4)::before,
.container .btn:nth-child(4)::after
{
    background: #FF8B00;
    box-shadow: 0 0 5px #FF8B00,
    0 0 15px #FF8B00,
    0 0 30px #FF8B00,
    0 0 60px #FF8B00; 
}